<%= form_with(model: @shift) do |form| %>
<% if @shift.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@shift.errors.count, "error") %> errors:</h2>

    <ul>
        <% @shift.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<%= form.hidden_field :user_id, :value => current_user.id %>

<div class="field">
    <%= form.label :start %>
    <%= form.datetime_local_field :start %>
</div>

<div class="field">
    <%= form.label :finish %>
    <%= form.datetime_local_field :finish %>
</div>
<div>
    <%= fields_for :shift_breaks do |break_form|%>
    <div class="field">
        <em>You can update this field at a later time</em><br />
        <%= break_form.label :break_length%>
        <%= break_form.number_field :break_length, value: 0 %>
    </div>
    <%end%>
</div>
<div class="actions">
    <%= form.submit %>
</div>
<% end %>