<p id="notice"><%= notice %></p>

<h1>Shifts</h1>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Shift Start </th>
            <th>Shift Finish</th>
            <th>Break length(minutes)</th>
            <th>Hours worked</th>
            <th>Shift cost</th>
        </tr>
    </thead>

    <tbody>
        <% sanitize_shifts(@shifts).each do |shift| %>
        <tr>
            <td><%= shift.user.name %></td>
            <td><%= convert_time(shift.start)%></td>
            <td><%= convert_time(shift.finish) %></td>
            <td><%= shift.break_length %></td>
            <td><%= total_hours_worked(shift.start, shift.finish, shift.break_length)%></td>
            <td>$<%= shift_cost(shift.start, shift.finish, shift.break_length)%></td>
        </tr>
        <% end %>
        <tr>
            <td><%= render template: "shifts/new", shift: @shift %></td>
        </tr>
    </tbody>
</table>

<br>