<h1>Shifts</h1>

<table border="1">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Shift Start Time</th>
            <th>Shift Finish Time</th>
            <th>Break length(minutes)</th>
            <th>Hours worked</th>
            <th>Shift cost</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>

    <tbody>
        <% sanitize_shifts(@shifts).each do |shift| %>
        <tr>
            <td><%= shift.user.name %></td>
            <td><%= convert_time(shift.start)%></td>
            <td><%= convert_time(shift.finish) %></td>
            <td><%= shift.break_length %></td>
            <td><%= total_hours_worked(shift.start, shift.finish, shift.break_length)%></td>
            <td>$<%= shift_cost(shift.start, shift.finish, shift.break_length)%></td>
            <td><%= link_to("Edit shift", edit_shift_path(shift)) %></td>
            <td><%= link_to("Delete shift", shift_path(shift), method: :delete) %></td>

        </tr>
        <% end %>
    </tbody>
</table>
<td><%= render template: "shifts/new", shift: @shift %></td>

<br>