<h1>Shifts</h1>
<br />
<%= link_to "Order by name", shifts_path( order_by_name: true)%> | <%= link_to "Show all users", shifts_path %>
<form action="/shifts" method="GET">
    <input type="text" name="search">
    <input type="submit" value="Search by name">
</form>
view raw
<table border="1" class="table">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Shift Start Time</th>
            <th scope="col">Shift Finish Time</th>
            <th scope="col">Break length(minutes)</th>
            <th scope="col">Hours worked</th>
            <th scope="col">Shift cost</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>

    <tbody>
        <% @shifts.each do |shift| %>
        <tr>
            <td scope="row"><%= shift.user.name %></td>
            <td><%= convert_time(shift.start)%></td>
            <td><%= convert_time(shift.finish) %></td>
            <td>
                <%= all_breaks_of_one_user_in_a_shift(shift.shift_breaks)%>
                <%if current_user.id == shift.user_id%>
                <%= render template: "shift_breaks/new",locals: { shift: shift.id }%>
                <%end%>
            </td>
            <td><%= total_hours_worked(shift.start, shift.finish, all_breaks_of_one_user_in_a_shift(shift.shift_breaks))%></td>
            <td><%= number_to_currency(shift_cost(shift.start, shift.finish, all_breaks_of_one_user_in_a_shift(shift.shift_breaks)), :unit => "$")%></td>
            <%if current_user.id == shift.user_id%>
            <td><%= link_to("Edit shift", edit_shift_path(shift)) %></td>
            <td><%= link_to("Delete shift", shift_path(shift), method: :delete) %></td>
            <%else%>
            <td>Not authorized</td>
            <td>Not authorized</td>
            <%end%>

        </tr>
        <% end %>
    </tbody>
</table>
<td><%= render template: "shifts/new", shift: @shift %></td>

<br>