<p id="notice"><%= notice %></p>

<h1>Shifts</h1>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Shift Start </th>
            <th>Shift Finish</th>
            <th>Break length(minutes)</th>
            <th>Total hours worked</th>
            <th>Shift cost</th>
        </tr>
    </thead>

    <tbody>
        <% sanitize_shifts(@shifts).each do |shift| %>
        <tr>
            <td><%= shift.user.name %></td>
            <td><%= convert_time(shift.start)%></td>
            <td><%= convert_time(shift.finish) %></td>
            <td><%= shift.break_length %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Shift', new_shift_path %>