<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Hourly rate</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @organizations.each do |organization| %>
        <tr>
            <td><%= organization.name %></td>
            <td><%= number_to_currency(organization.hourly_rate) %></td>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
            <%if current_user.organization && current_user.organization.name == organization.name%>
            <td><%= link_to "Leave organization", remove_user_organization_path, method: :put%></td>
            <%else%>
            <td><%= link_to "Join", update_user_organization_path(:user => {:organization_id => organization.id}), method: :put %></td>
            <%end%>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Create and join new organization', new_organization_path %>