<p id="notice"><%= notice %></p>

<h1>
    <%= @organization.name %>
</h1>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to "Show All organizations" , organizations_path %>
<%if current_user.organization && current_user.organization.name == @organization.name%>
<td><%= link_to "Leave organization", remove_user_organization_path, method: :put%></td> |
<%else%>
<td><%= link_to "Join", update_user_organization_path(:user => {:organization_id => organization.id}), method: :put %></td> |
<%end%>
<%= link_to "Show Shifts", shifts_path %>