<%= form_for test_it(), remote: true do |f| %>
<%= f.hidden_field :shift_id, :value => shift %>

<div class="field">
    <%= f.label :break_length %>
    <%= f.number_field :break_length %>
</div>

<%= f.submit "Add break"%>
<% end %>